<!DOCTYPE html>
<html ng-app="todoDemo">
<head>
    <title>TODO DEMO</title>
    <!-- Require AngularJS -->
    <script type="application/javascript" src="js/angular.min.js"></script>
    <!-- Require our custom interceptorJS -->
    <script type="application/javascript" src="js/todo.js"></script>
</head>
<body ng-controller="TODOController as todo">
<h1>My TODO App</h1>
Add New Task:
<input type="text" ng-model="todo.todoObject.newTask">
<input type="button" value="Add" ng-click="todo.addTask()">
<ul>
    <li ng-if="todo.todoObject.tasks.length">
        <span>Task</span>
        <span>Important</span>
        <span>Done</span>
    </li>
    <li ng-repeat="task in todo.todoObject.tasks track by $index">
        <span editable="task.value"></span>
        <span ng-click="todo.toggleStartStage($index)">{{task.isImportant }}</span>
        <input type="button" ng-click="todo.removeTask($index)" value="Remove">
    </li>
</ul>
</body>
</html>